gradio
langchain
openai
transformers
faiss-cpu
gemini-api
weaviate-client 
langchain 
tiktoken 
pypdf 
rapidocr-onnxruntime 
sentence-transformers 
streamlit
langchain-groq
langchain-huggingface
unstructured
langchain-google-genai
pdfminer.six
unstructured-pytesseract
PIL
tesseract-ocr
